# <center>Predict Harvest Quantity

In [2]:
# helper functions
%run -i imports.py
%run -i modelling_functions.py

# load class
from harvestingtime import district

# load dataset
with open('data/dataset.pkl', 'rb') as file:
    ds = pickle.load(file)

In [59]:
# set parameters
crop = 'Silomais'    # crop
dc = '03151'         # district code
iterations = 10      # number of iterations for model

## create crop specific dataset

In [69]:
# calling to_crop() method to get weather and climate data for 
# crop specific growing period

cols = ['district', 'crop', 'TT', 'SD', 'FK', 'RR', 'SMI_OB', 'SMI_GB']
crop_df = pd.DataFrame(columns=cols)

for dc in ds.keys():
    x = pd.DataFrame(columns=cols)

    for i in cols[2:]:
        x.loc[:, i] = ds[dc].to_crop(crop)[i].mean(axis=1)

    x['crop'] = ds[dc].crops.loc[:, crop].tolist()
    x['district'] = dc
    crop_df = pd.concat((crop_df, x))

crop_df.dropna(axis=0, inplace=True)

In [70]:
print(crop_df.shape)
crop_df.head()

(6097, 8)

,district,crop,TT,SD,FK,RR,SMI_OB,SMI_GB
0,01001,401.6,15.053036,229.337500,2.618571,67.832143,0.467129,0.591105
1,01001,342.8,14.531845,200.933333,2.584917,52.479167,0.322052,0.425855
2,01001,401.6,15.072738,225.700000,2.420714,72.616071,0.562898,0.529012
3,01001,364.2,16.376786,201.983333,2.659821,108.433929,0.793085,0.875195
4,01001,408.4,16.379702,236.416667,2.506333,71.591071,0.550395,0.555351